@font-face {
	font-family: "Poppins-Regular";
	src: url("/fonts/Poppins-Regular.otf");
}
@font-face {
	font-family: "Poppins-SemiBold";
	src: url("/fonts/Poppins-SemiBold.otf");
}
@font-face {
	font-family: "Poppins-Bold";
	src: url("/fonts/Poppins-Bold.otf");
}
@font-face {
	font-family: "Chillax-Medium";
	src: url("/fonts/Chillax-Medium.ttf");
}
@font-face {
	font-family: "MonumentExtended-Regular";
	src: url("/fonts/MonumentExtended-Regular.otf");
}
@font-face {
	font-family: "MonumentExtended-Ultrabold";
	src: url("/fonts/MonumentExtended-Ultrabold.otf");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: "Poppins";
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button {
	font-family: "Poppins-Regular";
}
